<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include(MODULE_Official_Generic_Layout + '/partials/head'); %>
    </head>
    <body class="container" style="overflow-y: hidden;"> 
        <main class="d-flex justify-content-md-center align-items-center vh-100">
            <%- login_form %>
            <%- include(MODULE_Official_Generic_Layout + '/partials/footer'); %>
        </main>
    </body>
</html>
